/Clase/nbproject/private/
/Clase/build/
/Clase/dist/
/javaclass/nbproject/private/
/javaclass/build/
/javaclass/dist/
/Organigrama_16/nbproject/private/
/Organigrama_16/build/
/Organigrama_16/dist/
/programaqueleecaracteresenteros/nbproject/private/
/JavaApplication9/nbproject/private/
/JavaApplication9/build/
/JavaApplication9/dist/
/switchact1_2/nbproject/private/
/switchact1_2/dist/
/switchact1_2/build/
/salarioNeto/nbproject/private/
